.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebe7e7;
    color: #132235;
    font-weight: 700;

        p {
            text-align: right;
            padding: 1.2rem;
        }

        img {
            margin: 1.2rem;
            cursor: pointer;
        }
}