/* === VARIABLES IMPORT === */

@import "../bases/variables";

/* === NAVBAR === */

.nav-container {
    z-index: 10;
    grid-area: nav;
    background-color: $bg-dark;

    .bg-darkblue {
        background-color: $bg-dark;
    }

    .header-logo {
        margin: 15px;
        margin-left: 50px;
        border: 1px solid $bg-light;
    }

    .header-nav {
        text-align: right;
        
    }

    .nav-list {
        list-style-type: none;
        margin: 1rem;
        padding: .5rem;

            li {
                display: inline-block;
                margin: .5rem;
            }
    }
    .nav-link {
        color: #ffffff;
        font-weight: 700;
        padding: 5px;
        text-decoration: none;

            &:hover{
                background: $bg-light;
                color: $bg-dark;
                border-radius: 10px;
            }
    }
}