@import "pages/service";

// === VARIABLES IMPORT === //

@import "../bases/variables";

// MIXIN // 


@mixin title($margin, $padding, $font-size) {
    margin: $margin;
    padding: $padding;
    font-size: $font-size;
}

/* === CAROUSEL === */

.prop-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.prop {
    text-align: center;
    margin: 1.2rem;
    margin-bottom: 100px;
    background: $bg-light;
    min-height: 10vh;

        h1{
        @include title(1.2rem, .8rem, 2rem)
        }
}

.carousel-inner > .carousel-item >  img {
    width:720px;
    height:520px;
}


/* === New Product === */

.best-prop {
    text-align: center;
    margin: 1.2rem;
    background: $bg-light;
    margin-bottom: 120px;

        h2 {
            padding: 1.2rem;
            font-size: 2rem;
        }

        p {
            width: 80%;
            margin: auto;
            margin-bottom: 80px;
            font-size: 1.2rem;
            display: inline-block;
            padding: 1rem;
            text-align: justify;
        }

        .prop-walkthrough {
            border: solid .5rem $bg-dark;
        }
}
