
/* === 780px BREAKPOINT === */
@media screen and (max-width: 768px) {

    .prop {
        .prop-title {
            font-size: 3.5rem;
        }
        .card {
            width: 100%;
        }
    }
    
    .form-title {
        font-size: 3.2rem;
    }

    .form-container {
        .form {
            form {
                .input-box {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* === 600px BREAKPOINT === */

@media screen and (max-width: 600px) {
    
    .nav-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .header-nav {
        text-align: center;
        font-size: 22px;
    }

    .prop-spec {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer p {
        text-align: center;
        padding: 2rem;
    }
}

/* === 480px BREAKPOINT === */

@media screen and (max-width: 480px) {

    .prop {
        .prop-title{
            font-size: 3.2rem;
        }
        .card {
            height: 100%;

            .card-body {
                    .card-text {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    
    .best-prop p {
        padding: 5px;
        font-size: 24px;
    }

    .service {
        width: 100%;

            .service-title {
                font-size: 3rem;
            }
            
            .service-container {
                
                p {
                    font-size: 24px;
                }

                h2 {
                    font-size: 2.2rem;
                }
            }

    }

    .text-container {

            .about-us-text {
                font-size: 24px;
                width: 100%;
            }
    }

    .form-title {
        font-size: 2.8rem;
    }

    .form-container {
        width: 100%;
        .form {
            width: 100%;
            text-align: center;
            form {
                .input-box {
                    margin: auto;
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
    
    .footer  {

        p {        
            font-size: 24px;
        }
    }



/* === 368px BREAKPOINT === */

@media screen and (max-width: 368px) {
    
    .input-box {
        width: 60px;
    }
}

@media screen and (max-width: 320px) {

    .prop {
        .card {
            .card-img-top {
                height: 80%;
            }
        }
    }

    .best-prop {
        h2 {
            font-size: 3rem;
            padding: 1.2rem;
        }
    }

    .service {

        h2 {
            font-size: 3rem;
        }

        .service-container {
            
            h3 {
                font-size: 2rem;
            }

            img {
                width: 100px;
                height: 100px;
            }

            p {
                width: 100%;
                padding: 10px;
                margin: 10px;
            }
        }
    }
    
    .text-container {
        .about-us-text {
            font-size: 32px;
        }
    }

    .form {
        width: 100%;
            .input-box {
                width: 100%;
        }
    }
}