/* General */

*{
    padding: 0;
    margin: 0;
    
    html {
        font-family: 'Oswold', sans-serif;
        color: #000;
    }

    header {
        background-color: #132235;
        position: sticky;
        top: 0;
    }

    body {
        padding: 0;
        background: #ebe7e7;
    }
}