/* General */
* {
  padding: 0;
  margin: 0; }
  * html {
    font-family: 'Oswold', sans-serif;
    color: #000; }
  * header {
    background-color: #132235;
    position: sticky;
    top: 0; }
  * body {
    padding: 0;
    background: #ebe7e7; }

/* Grid declaration */
.grid-container {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-gap: 20px; }

.main {
  grid-area: main; }

/* === NAVBAR === */
.nav-container {
  z-index: 10;
  grid-area: nav;
  background-color: #132235; }
  .nav-container .bg-darkblue {
    background-color: #132235; }
  .nav-container .header-logo {
    margin: 15px;
    margin-left: 50px;
    border: 1px solid #ebe7e7; }
  .nav-container .header-nav {
    text-align: right; }
  .nav-container .nav-list {
    list-style-type: none;
    margin: 1rem;
    padding: .5rem; }
    .nav-container .nav-list li {
      display: inline-block;
      margin: .5rem; }
  .nav-container .nav-link {
    color: #ffffff;
    font-weight: 700;
    padding: 5px;
    text-decoration: none; }
    .nav-container .nav-link:hover {
      background: #ebe7e7;
      color: #132235;
      border-radius: 10px; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.2rem; }

.service {
  text-align: center;
  background-color: #ebe7e7;
  color: #000;
  margin-top: 80px;
  margin-bottom: 80px; }
  .service h1 {
    margin: .8rem;
    padding: .5rem; }
  .service .service-container {
    margin: 100px;
    margin-bottom: 0;
    padding: 1rem; }
    .service .service-container h2 {
      padding: .8rem; }
    .service .service-container img {
      width: 5rem;
      height: 5rem;
      padding: 1.5rem;
      border: 2px solid #132235;
      border-radius: 10%;
      margin: 1.5rem; }
    .service .service-container p {
      margin: auto;
      width: 80%;
      text-align: justify;
      padding: 50px;
      color: #000;
      font-weight: 400;
      border-bottom: solid 0.2rem #132235; }

/* === CAROUSEL === */
.prop-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px; }

.prop {
  text-align: center;
  margin: 1.2rem;
  margin-bottom: 100px;
  background: #ebe7e7;
  min-height: 10vh; }
  .prop h1 {
    margin: 1.2rem;
    padding: 0.8rem;
    font-size: 2rem; }

.carousel-inner > .carousel-item > img {
  width: 720px;
  height: 520px; }

/* === New Product === */
.best-prop {
  text-align: center;
  margin: 1.2rem;
  background: #ebe7e7;
  margin-bottom: 120px; }
  .best-prop h2 {
    padding: 1.2rem;
    font-size: 2rem; }
  .best-prop p {
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem;
    text-align: justify; }
  .best-prop .prop-walkthrough {
    border: solid 0.5rem #132235; }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebe7e7;
  color: #132235;
  font-weight: 700; }
  .footer p {
    text-align: right;
    padding: 1.2rem; }
  .footer img {
    margin: 1.2rem;
    cursor: pointer; }

.prop {
  width: 80%;
  margin: auto; }
  .prop h1 {
    font-size: 4rem;
    padding: 20px;
    margin-bottom: 40px; }
  .prop .card {
    width: 100%;
    margin: auto; }
  .prop .prop-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #132235; }
    .prop .prop-container h3 {
      padding: 2rem;
      font-weight: 700;
      font-size: 1.5rem;
      text-decoration: underline #132235; }
    .prop .prop-container p {
      text-align: left;
      font-weight: 700;
      padding: 2rem; }
    .prop .prop-container .prop-spec {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
    .prop .prop-container .prop-gallery img {
      padding: 20px;
      cursor: pointer; }

/* === 780px BREAKPOINT === */
@media screen and (max-width: 768px) {
  .prop .prop-title {
    font-size: 3.5rem; }
  .prop .card {
    width: 100%; }
  .form-title {
    font-size: 3.2rem; }
  .form-container .form form .input-box input {
    width: 100%; } }

/* === 600px BREAKPOINT === */
@media screen and (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .header-nav {
    text-align: center;
    font-size: 22px; }
  .prop-spec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .footer p {
    text-align: center;
    padding: 2rem; } }

/* === 480px BREAKPOINT === */
@media screen and (max-width: 480px) {
  .prop .prop-title {
    font-size: 3.2rem; }
  .prop .card {
    height: 100%; }
    .prop .card .card-body .card-text {
      font-size: 16px; } }

.best-prop p {
  padding: 5px;
  font-size: 24px; }

.service {
  width: 100%; }
  .service .service-title {
    font-size: 3rem; }
  .service .service-container p {
    font-size: 24px; }
  .service .service-container h2 {
    font-size: 2.2rem; }

.text-container .about-us-text {
  font-size: 24px;
  width: 100%; }

.form-title {
  font-size: 2.8rem; }

.form-container {
  width: 100%; }
  .form-container .form {
    width: 100%;
    text-align: center; }
    .form-container .form form .input-box {
      margin: auto;
      width: 100%; }
      .form-container .form form .input-box input {
        width: 100%; }

.footer p {
  font-size: 24px; }

/* === 368px BREAKPOINT === */
@media screen and (max-width: 368px) {
  .input-box {
    width: 60px; } }

@media screen and (max-width: 320px) {
  .prop .card .card-img-top {
    height: 80%; }
  .best-prop h2 {
    font-size: 3rem;
    padding: 1.2rem; }
  .service h2 {
    font-size: 3rem; }
  .service .service-container h3 {
    font-size: 2rem; }
  .service .service-container img {
    width: 100px;
    height: 100px; }
  .service .service-container p {
    width: 100%;
    padding: 10px;
    margin: 10px; }
  .text-container .about-us-text {
    font-size: 32px; }
  .form {
    width: 100%; }
    .form .input-box {
      width: 100%; } }

/* === FORM === */
.main h1 {
  text-align: center;
  margin: 20px; }

.main .form-container {
  width: 480px;
  margin: auto; }
  .main .form-container .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #132235;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 25px; }
    .main .form-container .form .input-box {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 10px; }
      .main .form-container .form .input-box label {
        color: #ebe7e7;
        font-size: 18px;
        font-weight: 500;
        margin: 5px;
        padding: 5px; }
      .main .form-container .form .input-box input {
        border-radius: 5px; }
      .main .form-container .form .input-box textarea {
        height: 75px; }
    .main .form-container .form .form-button, .main .form-container .form .form-button-clear {
      padding: 0.2rem;
      margin: 1rem;
      background: #ebe7e7;
      font-size: 1rem;
      font-weight: 700;
      border-radius: 5px;
      border: none; }
      .main .form-container .form .form-button:hover, .main .form-container .form .form-button-clear:hover {
        background: #3db251;
        color: #ebe7e7; }
    .main .form-container .form .form-button-clear:hover {
      background: #ff0000;
      color: #ebe7e7; }

/* === CONTACT KEYFRAMES === */
.form-container {
  animation-name: dropdown;
  animation-duration: 2.5s;
  animation-delay: 0s; }

@keyframes dropdown {
  from {
    transform: translateY(-100vh); }
  to {
    transform: translateY(0vh); } }

/* === ABOUT US PAGE === */
.text-container {
  display: flex;
  flex-direction: column;
  background: #ebe7e7;
  box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
  text-align: center;
  margin: 5px;
  text-align: center; }
  .text-container h1 {
    font-size: 4rem;
    padding: 10px;
    margin: auto; }
  .text-container p {
    padding: 1rem;
    width: 50%;
    margin: auto; }
  .text-container img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 380px;
    padding: 1rem; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.2rem; }

.service {
  text-align: center;
  background-color: #ebe7e7;
  color: #000;
  margin-top: 80px;
  margin-bottom: 80px; }
  .service h1 {
    margin: .8rem;
    padding: .5rem; }
  .service .service-container {
    margin: 100px;
    margin-bottom: 0;
    padding: 1rem; }
    .service .service-container h2 {
      padding: .8rem; }
    .service .service-container img {
      width: 5rem;
      height: 5rem;
      padding: 1.5rem;
      border: 2px solid #132235;
      border-radius: 10%;
      margin: 1.5rem; }
    .service .service-container p {
      margin: auto;
      width: 80%;
      text-align: justify;
      padding: 50px;
      color: #000;
      font-weight: 400;
      border-bottom: solid 0.2rem #132235; }

/* === 780px BREAKPOINT === */
@media screen and (max-width: 768px) {
  .prop .prop-title {
    font-size: 3.5rem; }
  .prop .card {
    width: 100%; }
  .form-title {
    font-size: 3.2rem; }
  .form-container .form form .input-box input {
    width: 100%; } }

/* === 600px BREAKPOINT === */
@media screen and (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .header-nav {
    text-align: center;
    font-size: 22px; }
  .prop-spec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .footer p {
    text-align: center;
    padding: 2rem; } }

/* === 480px BREAKPOINT === */
@media screen and (max-width: 480px) {
  .prop .prop-title {
    font-size: 3.2rem; }
  .prop .card {
    height: 100%; }
    .prop .card .card-body .card-text {
      font-size: 16px; } }

.best-prop p {
  padding: 5px;
  font-size: 24px; }

.service {
  width: 100%; }
  .service .service-title {
    font-size: 3rem; }
  .service .service-container p {
    font-size: 24px; }
  .service .service-container h2 {
    font-size: 2.2rem; }

.text-container .about-us-text {
  font-size: 24px;
  width: 100%; }

.form-title {
  font-size: 2.8rem; }

.form-container {
  width: 100%; }
  .form-container .form {
    width: 100%;
    text-align: center; }
    .form-container .form form .input-box {
      margin: auto;
      width: 100%; }
      .form-container .form form .input-box input {
        width: 100%; }

.footer p {
  font-size: 24px; }

/* === 368px BREAKPOINT === */
@media screen and (max-width: 368px) {
  .input-box {
    width: 60px; } }

@media screen and (max-width: 320px) {
  .prop .card .card-img-top {
    height: 80%; }
  .best-prop h2 {
    font-size: 3rem;
    padding: 1.2rem; }
  .service h2 {
    font-size: 3rem; }
  .service .service-container h3 {
    font-size: 2rem; }
  .service .service-container img {
    width: 100px;
    height: 100px; }
  .service .service-container p {
    width: 100%;
    padding: 10px;
    margin: 10px; }
  .text-container .about-us-text {
    font-size: 32px; }
  .form {
    width: 100%; }
    .form .input-box {
      width: 100%; } }
