// === VARIABLES IMPORT === //

@import "../../bases/variables";

/* === ABOUT US PAGE === */
.text-container {
    display: flex;
    flex-direction: column;
    background: $bg-light;
    box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
    text-align: center;
    margin: 5px;

        h1 {
            font-size: 2.3rem;
            padding: 10px;
            margin: auto;
        }

        p {
            padding: 1rem;
        }

        img {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            width: 800px;
            height: 380px;
            padding: 1rem;
        }
}