/* === FORM === */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #132235;
        color: #ebe7e7;
        width: 50vw;
        padding: 2rem;
        font-size: 1.1rem;
        font-weight: 700;
        box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
        border-radius: 10px;
        text-align: center;

        .input-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1.2rem;
            width: 350px;

                input {
                    width: 100%;
                    height: 25px;
                }

                textarea {
                    width: 100%;
                    height: 75px;
                }

                label {
                    padding: 0.8rem;
                }

                input  textarea {
                    margin: 1rem;
                    padding: 5px;
                }
        }
        
        .form-button input {
            padding: 0.5rem;
            margin: 1.1rem;
            background: #ebe7e7;
            font-size: 1rem;
            font-weight: 700;
            border-radius: 5px;
            border: none; 

            &:hover {
                background: #3db251;
                color: #ebe7e7;
            }

            #clear-button input:hover {
                background: #e61414;
                color: #ebe7e7;
            }
        }
    }
}

/* === CONTACT KEYFRAMES === */

.form-container {
    animation-name: dropdown;
    animation-duration: 2.5s;
    animation-delay: 0.5s;

    @keyframes dropdown {
        from {
            transform: translateY(-100vh);
        }
        to {
            transform: translateY(0vh);
        }
    }
}

/* === BUTTON HOVER (Submit and Clear) === */


