// === VARIABLES IMPORT === //

@import "../../bases/variables";

@import "../media-queries";


/* === FORM === */

.main {

    h1 {
        text-align: center;
        margin: 20px;
    }

    .form-container {
        width: 480px;
        margin: auto;

        .form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            background-color: $bg-dark;
            width: 80%;
            margin: auto;
            padding: 20px;
            border-radius: 25px;
                
                .input-box {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 10px;

                        label {
                            color: $bg-light;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 5px;
                            padding: 5px;
                        }

                        input {
                            border-radius: 5px;
                        }

                        textarea {
                            height: 75px;
                            
                        }
                }

                .form-button {
                    padding: 0.2rem;
                    margin: 1rem;
                    background: $bg-light;
                    font-size: 1rem;
                    font-weight: 700;
                    border-radius: 5px;
                    border: none; 
        
                    &:hover {
                        background: #3db251;
                        color: $bg-light;
                    }
                }
                
                .form-button-clear {
                    @extend .form-button;
        
                    &:hover {
                        background: #ff0000;
                        color: $bg-light;
                    }
                }
            }
    }
}



// EXTEND // 





/* === CONTACT KEYFRAMES === */

.form-container {
    animation-name: dropdown;
    animation-duration: 2.5s;
    animation-delay: 0s;

    @keyframes dropdown {
        from {
            transform: translateY(-100vh);
        }
        to {
            transform: translateY(0vh);
        }
    }
}


