/* === VARIABLES IMPORT === */

@import "../../bases/variables";

.service {
    text-align: center;
    background-color: $bg-light;
    color: #000;

        h2 {
            font-size: 2rem;
            margin: .8rem;
            padding: .5rem;
        }

        .service-container {
            margin: 1rem;
            margin-bottom: 0;
            padding: 1rem;
            border-bottom: solid .2rem $bg-dark;

                h3 {
                    font-size: 1.5rem;
                    text-decoration: underline;
                    padding: .8rem;
                }

                img {
                    width: 5rem;
                    height: 5rem;
                    padding: 1.5rem;
                    border: 2px solid $bg-dark;
                    border-radius: 10%;
                    margin: 1.5rem;
                }

                p {
                    padding-bottom: 1.2rem;
                    color: #000;
                    font-weight: 500;
                }
        }
}