// === VARIABLES IMPORT === //

@import "../../bases/variables";

// MAP //

$headings: (
    h1: 4rem,
    h2: 2rem,
    h3: 1.2rem,
);

@each $heading, $size in $headings {

    #{$heading} {
        font-size: $size;
    }
}

.service {
    text-align: center;
    background-color: $bg-light;
    color: #000;
    margin-top: 80px;
    margin-bottom: 80px;

        h1 {
            margin: .8rem;
            padding: .5rem;
        }

        .service-container {
            margin: 100px;
            margin-bottom: 0;
            padding: 1rem;

                h3 {
                    padding: .8rem;
                }

                img {
                    width: 5rem;
                    height: 5rem;
                    padding: 1.5rem;
                    border: 2px solid $bg-dark;
                    border-radius: 10%;
                    margin: 1.5rem;
                }

                p {
                    margin: auto;
                    width: 80%;
                    text-align: justify;
                    padding: 50px;
                    color: #000;
                    font-weight: 400;
                    border-bottom: solid .2rem $bg-dark;
                }
        }
}